<style>
#home_index #px nav.header {
outline: none;
background-color: transparent;
}
.navbar-inner {

background-color: transparent;

}
.centrar{
  padding: 2%;
}
a.brand{background:transparent;text-align:center;border-bottom:1px solid transparent;padding:10px 0!important}
</style>

<div class="navbar">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a id="main-menu-toggle" class="hidden-phone open"></a>   
        <div class="row-fluid">
        <a class="brand span2" href="#"><img src="/img/logo.png" ></a>
        </div>    
        <!-- start: Header Menu -->
        <div class="nav-no-collapse header-nav">
          <ul class="nav pull-right">
            <!-- start: Notifications Dropdown -->
            <!-- end: Notifications Dropdown -->
            <!-- start: Message Dropdown -->
            <!-- end: Message Dropdown -->
            <!-- start: User Dropdown -->
            <li class="dropdown">
              <a class="btn account dropdown-toggle" data-toggle="dropdown" href="#">
                <div class="avatar"><img src="/img/avatar.jpg" alt="Avatar"></div>
                <div class="user">
                  <span class="hello">Welcome!</span>
                  <span class="name"><%= current_user.nombres %></span>
                </div>
              </a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu-title">
                  
                </li>
                <li>
                  <%= link_to(destroy_user_session_path, :method => :delete) do %>
                  <i class="icon-off"></i> Salir
                  <% end %>
                </li>
              </ul>
            </li>
            <!-- end: User Dropdown -->
          </ul>
        </div>
        <!-- end: Header Menu -->
        
      </div>
    </div>
  </div>



<!---->